/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
    --color-primary: #6a0d83; /* Dark purple for headings */
    --color-secondary: #ce4993; /* Purple for buttons */
    --color-tertiary: #fb9062; /* Bright orange for highlights */
    --color-text: #333333; /* Dark gray for general text */
    --color-bg: rgba(255, 255, 255, 0.7); /* Semi-transparent white for container */
}
